<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Configuracion
    </ion-title>
  </ion-toolbar >
</ion-header>


<ion-content>

<ion-list [inset]="true">
  <ion-item lines="full">
    <ion-label >Perfil</ion-label>
  </ion-item>
  <ion-list lines="inset">
    <ion-item>
      <ion-input label="Nombre de Usuario" label-placement="stacked" placeholder="Ingrese Texto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nombre completo" label-placement="stacked" placeholder="Ingrese Texto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Correo" type="email" placeholder="email@domain.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Ciudad" placeholder="Marque su Ciudad">
        <ion-select-option value="">Medellin</ion-select-option>
        <ion-select-option value="nes">Bogota</ion-select-option>
        <ion-select-option value="n64">Manizales</ion-select-option>
        <ion-select-option value="ps">Nariño</ion-select-option>
        <ion-select-option value="genesis">Cali</ion-select-option>
        <ion-select-option value="saturn">Cartagena</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-list>
  
  <ion-list [inset]="true">
  <ion-item lines="full">
    <ion-label >Seguridad</ion-label>
  </ion-item>
  <ion-list lines="inset">
    <ion-item>
      <ion-label expand="block" (click)="setOpen(true)">Cambiar Contraseña</ion-label>
      <ion-modal  [isOpen]="isModalOpenC">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Modal</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-label>Nueva Contraseña </ion-label>
              </ion-item><ion-item>
              <ion-input type="password" value="">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Confirmar Contraseña </ion-label>
              </ion-item><ion-item>
              <ion-input type="password" value="">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-item>
            <ion-button (click)="setOpen(false)">Cancelar</ion-button>
              <ion-button (click)="presentAlert()">Confirmar</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item>
      <ion-toggle>
        <ion-label>Activar Notificationes</ion-label>
        <ion-note color="medium">Fecha de tarea</ion-note>
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-list>
  

  <ion-list [inset]="true">
  <ion-item lines="full">
    <ion-label >Diseño</ion-label>
  </ion-item>
  <ion-list lines="inset">
    <ion-item>
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between"
        >Modo oscuro</ion-toggle>
    </ion-item>
    <ion-item [button]="true">Tamaño texto </ion-item>
    
    
      <ion-list-header>Brillo</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-range value="40">
        <ion-icon name="sunny-outline" slot="start"></ion-icon>
        <ion-icon name="sunny" slot="end"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
  </ion-list>
</ion-list>
</ion-content>
